extends layout

include _includes/sharedFunctions

block content
  .row.banner

    if errors
      each error in errors
        if error
          p= error

  .row
    .col-12.col-md-8
      form#addReview.form-horizontal(action='' method='POST' role='form')
        - if (error === 'val')
            .alert.alert-danger(role='alert') All fields required. Please try again
              button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="first_name") First Name
          .col-xs-12.col-sm-10
            input#fist_name.form-control(name="first_name" value=user.first_name placeholder="First Name")
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="last_name") Last Name
          .col-xs-12.col-sm-10
            input#last_name.form-control(name="last_name" value=user.last_name placeholder="Last name")
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="name") Email
          .col-xs-12.col-sm-10
            input#email.form-control(name="email" value=user.email placeholder="user@example.com")
        .form-group.row
          label.col-xs-10.col-sm-2.control-label(for="gender") Gender
          .col-md-3.mb-3
            select.form-control.input-sm(name="gender")
              option Male
              option Female

        .form-group.row
          label.col.xs-10.col-sm-2.control-label(for="ip_address") IP Address
          .col-xs-12.col-sm-10
            input#ip_address.form-control(name="ip_address" value=user.ip_address placeholder="124.110.14.12")
        button.btn.btn-primary.float-right Update User
      .col-12-col.md-4
